<tbody>
  {{#each content as |objectInstance|}}
    {{table-body-row content=objectInstance deleteEntity="deleteEntity" contentDeleted=contentDeleted}}
  {{/each}}
  <button {{action "loadMore"}}>Load more...</button>
</tbody>
