<div class="row">
  <div class="col-md-8">
    <table class="table table-hover">
      <thead>
      {{table-head content=columnsNames}}
      {{table-body content=content deleteEntity="deleteEntity" contentDeleted=contentDeleted}}
      </thead>
    </table>
  </div>
</div>
