<tr>
  {{#each-in content as |key value|}}
    {{log value}}
  {{/each-in}}
  <td>
    {{#link-to "categories.edit" content.id  classNames="btn btn-primary primary"}}Edit{{/link-to}}
  </td>
  <td>
    <button class="btn btn-danger delete-item" {{action "deleteEntity"}}>Delete</button>
  </td>
</tr>
