{{#modal-window model=model save="save" close="back" title="Create currency"}}
  <div class="row">
    <div class="col-md-4">
      <br>
      {{partial "forms/-currency"}}
    </div>
  </div>
{{/modal-window}}
