{{#modal-window model=model save="save" close="back" title="Add income"}}
  <div class="row">
    <div class="col-md-4">
      <br>
      <form>
        {{#input-wrapper for="name" model=model}}
          {{input type="text" value=model.name classNames="form-control" placeholder="Income name"}}
        {{/input-wrapper}}
        {{#input-wrapper for="amount" model=model}}
          {{input type="text" value=model.amount classNames="form-control" placeholder="Amount"}}
        {{/input-wrapper}}
        <div class="form-group">
        <select class="form-control">
          {{#each categories as |category|}}
          <option>{{category.name}}</option>
          {{/each}}
        </select>
        </div>
        <div class="form-group">
        <select class="form-control">
          {{#each wallets as |wallet|}}
          <option>{{wallet.name}}</option>
          {{/each}}
        </select>
      </div>
      </form>
    </div>
  </div>
{{/modal-window}}
