{{#modal-window model=model save="save" close="back" title="Add outcome"}}
  <div class="row">
    <div class="col-md-4">
      <br>
      {{partial "forms/-outcome"}}
    </div>
  </div>
{{/modal-window}}
