{{#modal-window model=model save="save" close="back" title="Edit wallet"}}
  <div class="row">
    <div class="col-md-4">
      <br>
      <form>
        <div class="form-group">
          {{input type="text" value=model.name classNames="form-control" placeholder="Wallet name"}}
        </div>
        <div class="form-group">
          {{input type="text" value=model.balance classNames="form-control" placeholder="Balance"}}
        </div>
      </form>
    </div>
  </div>
{{/modal-window}}
